@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Cuisine

<h2>Cuisine Details</h2>

<h3>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</h3>

@foreach (var restaurant in ViewBag.Show)
{
  @* <li>@restaurant.Name</li> *@

  <li>@Html.ActionLink($"{restaurant.Name}", "Details","Restaurants", new { id = restaurant.RestaurantId })</li>
}